
body {
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}
header{
  width: 100%;
  position: fixed;
  background-color: #00beee;
  z-index: 1;
}
.navbar-brand {
  font-weight: 800;
  color: black;
}
.nav-link {
  color: black !important;
  font-weight: 500;

}
.hero {
  padding: 100px 20px 60px;
  text-align: center;
}
.hero h1 {
  font-size: 60px;
  font-weight: 900;
}
.bounce-in {
  animation: bounceIn 3s ease forwards ;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 3s ease infinite;
  opacity: 0;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.hero p {
  color: #ccc;
}
.btn-custom {
  background-color: #00beee;
  color: #000;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  border: none;
  transition: 0.3s ease;
}
.btn-custom:hover {
  background-color: #00e4fd;
  transform: scale(1.05);
  box-shadow: 0 0 10px #00e4fd;
}
.social-icons a {
  color: #00beee;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}
.section-title {
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}
.skill-logo {
  height: 100px;
  width: 100px;
  margin: 15px;
  transition: transform 0.3s ease;
}
.skill-logo:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px #00e4fd;
}
.card {
  background-color: #111;
  color: #fff;
  border: 1px solid #333;
  border-radius: 15px;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #00e4fd;
}

.contact-form {
  border: 2px solid #00beee;;  
  border-radius: 20px;                
  padding: 30px;
  background-color: #111;             
  box-shadow: 0 0 12px rgba(198, 248, 14, 0.1);
  transition: all 0.3s ease;
}

.contact-form:hover {
  transform: scale(1.01);
  box-shadow:  0 0 10px #00e4fd;
}

